header {
    padding: 20px;
}

section {
    padding: 20px;
  }

#left {
    background-color: #666;
    color: white;
    width: 33%;
    float:left;
  }
  
  #middle {
    background-color: #888;
    color: white;
    width: 33%;
  }
  
  #right {
    background-color: #666;
    color: white;
    width: 33%;
  }